/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
:root {
  --primary: #6a5acd;
  --secondary: #9370db;
  --black: #333;
  --white: #fff;
  --bod: #E4E4E470;
  --box-shadow: 0px 1px 10px -7px;
  --shadow: 0 0 10px -2px gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-family: roboto condensed;
font-size: 99.5%;
  overflow-x: hidden;
  line-height: 1.3;
  background-color:white;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--white);
}

nav {
  background-color: var(--white);
  height: 80px;
  width: 100%;
  z-index: 1000%;
  box-shadow: var(--box-shadow);
}

.appBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 12vh;
  width: 100vw;
  background-color: var(--white);
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appBar .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.appBar .left button {
  width: 2.5em;
  height: 2.5em;
  background-color: var(--primary);
  border-radius: 8px;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  display: none;
  font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;


}

.dropdown-select {
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 5px;
  color: white;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.option-item {
  padding: 10px;
  cursor: pointer;
}
.option-item:hover{
  background-color: #aa8fe1;
  color: white;
}
.option-head{
  border-bottom: 1px solid gray;
  margin: 10px;
  padding: 5px;
  cursor: auto;
}


.search-input {
  
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}






@media (max-width: 768px) {
  .appBar .left button {
    display: flex;
  }
}
.appBar .left button span {
  background-color: var(--white);
  width: 60%;
  height: 1px;
  border-radius: 1em;
}

.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Inclusive Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Ruslan Display', cursive;
  font-family: 'Ysabeau Office', sans-serif;
}





.money{
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 1px;
}

span{
  width: 9%;
  height:60px ; 
   display: flex;
   align-items: center;
 justify-content: center;
  color: var(--white);
  font-size: 20px;
 background-color: transparent;
margin: 2px;
text-align: center;
  box-shadow: 0px 0px 5px 0px gray;

  color: black;
  float: right;

}
.money1{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px gray;
  width: 8%;
  height:60px ; 
  margin: 2px;
}
.money img{
  width: 30px;
  height: 30px;
 margin-right: 3px;

 
}













nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  display: none;
}

#submit {
  width: 100%;
  height: 30px;
  color: var(--white);
  font-size: 16px;
  background-color: var(--primary);
}

.select input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
}

.checkbtn img {
  font-size: 30px;
  float: right;
  margin-top: 24px;
  margin-right: 40px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.navigationDrawer {
  width: 20%;
  height: 100vh;
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
  padding: calc(12vh + 0.5em) 0.5em;
  transition: all 0.25s ease-in-out;
  z-index: 1000;
}





@media (max-width: 768px) {

  


  .navigationDrawer {
    width: 60%;
    transform: translateX(-143%);
    z-index: 1;
    padding-top: 0.5em;
  }
}
.navigationDrawer a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
  width: 50%;
  padding: 5px;
  border-radius: 8px;
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {

  span{
    box-shadow: 0px 0px 5px 0px gray;
    width:25%;
    height:50px ;

    font-size: 15px;
    color: black;
}
.walletBalance p{
    font-size: 5px;
   font-weight: 100;
}
.money img{
    width: 25px;
    height: 25px;
   margin-right: 3px;

   
}
.money1{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px gray;
    width: 19%;
    height:50px ; 
    margin: 2px;
}


  .navigationDrawer .overlay {
    width: 43%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1882352941);
    position: fixed;
    top: 0;
    right: -43%;
  }
}

a.a,
a:hover {
  background-color: var(--white);
  color: var(--black);
}

main {
  width: 100%;
  height: 100vh;
  padding-top: calc(12vh + 1em);
  padding-left: calc(20% + 1em);

}


.option-head{
  border-bottom: 1px solid gray;
  margin: 10px;
  padding: 5px;
}


@media (max-width: 768px) {
  main {
    padding-left: 0;
  }
}
main .main {
  background-color: var(--white);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main .main .appSection {
  width: 600px;
  max-width: 90%;
}
main .main .appSection .select-box #options {
  width: 100%;
  height: 3em;
  border-radius: 8px;
  background-color: var(--primary);
  padding: 0.5em 1em;
  color: var(--white);
}
main .main .appSection .select-box #options option {
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 768px) {
  .openDrawer {
    width: 70%;
    transform: translateX(0%);
  }
}/*# sourceMappingURL=main.css.map */